<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <!-- <h1>Login Here!</h1> -->
    <!-- <form action="/login" method="post"> -->
      <main>
        <form method="post" action="/login">
          <h1>Login Now</h1>
          <label for="email">email</label>
          <input type="email" name="email" value="<%= locals.email %>" />

          <label for="password">password</label>
          <input type="password" name="password" id="" />

            <p class="error">  <%= locals.message %>    </p>
          <button type="submit">Login</button>
        </form>
      </main>
    </form>
  </body>
</html>
